:root {
  --primary-color: powderblue;
  --secondary-color: aquamarine;
  --primary-text-color: blue;
  --secondary-text-color: lightblue;
  --primary-bg-color: beige;
  --secondary-bg-color: turquoise;
  /* background-color: rgb(49, 56, 64); */
  /* background: rgb(206, 239, 255); */
  background: rgb(222, 244, 255);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

main {
  margin: 3vh 15vw;
  /* background-color: aliceblue; */
}

@media (max-width: 768px) {
  main {
    margin: 5vh 5vw;
  }
}

input {
  text-align: center;
  line-height: 3em;
  width: 25vw;
  margin: 1em auto;
  border-radius: 1em;
  border: none;
}

@media (max-width: 768px) {
  input {
    width: 60vw;
  }
}

input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 10px #85c0ff;
}

input::placeholder {
  /* opacity: 1; */
  color: white;
}

.bg-light input {
  background-color: rgb(49, 72, 135);
  color: white;
}

label {
  position: relative;
  text-align: left;
  left: 7em;
  top: 1.5em;
}

@media (max-width: 768px) {
  label {
    left: 1.5em;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(85, 163, 253);
}

nav {
  padding: 2rem;
  color: rgb(143, 195, 255);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(105, 200, 255, 0.131)
}

nav a {
  padding: 0 1em;
  color: rgb(117, 176, 243);
}

nav a:hover {
  color: rgb(0, 82, 189);
  /* color: rgb(153, 207, 255); */
}

footer {
  padding: 1vw 0 2vw 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: rgb(143, 195, 255);
  /* background-color: rgba(255, 255, 255, 0.314) */
}

footer a {
  font-size: 1.5em;
  color: rgb(143, 195, 255);
}

/* POSITIONING */
.center {
  margin: 0 auto;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.row {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}


.margin-lr {
  margin: 0 15vw;
}

@media (max-width: 768px) {
  .margin-lr {
    margin: 0 4vw;
  }
}

/* PROPERTIES */
.bg-light {
  background-color: rgb(33, 48, 91);
  padding: 2em;
  border-radius: 7vw;
}

/* ELEMENTS */
.App {
  text-align: center;
  /* background-color: powderblue; */
}

.btn {
  margin: 1em auto 1.5em auto;
  color: white;
  background-color: rgb(30, 114, 210);
  width: 12em;
  padding: .5em 0;
  border-radius: 1em;
  border: none;
  font-size: 1em;
}

.btn-sm {
  margin: 1em auto 1.5em auto;
  color: white;
  background-color: rgb(32, 38, 43);
  /* width: 15em; */
  margin: 1em;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  border: none;
  font-size: 0.75em;
  position: absolute;
}

.btn:hover,
.btn-sm:hover,
.btn-edit:hover,
.image-upload:hover {
  background-color: rgb(87, 166, 255);
  color: white;
  cursor: pointer;
}

.btn-edit {
  color: white;
  background-color: rgb(32, 38, 43);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
}

.profile .btn-edit {
  position: relative;
  left: 30vw;
  bottom: 4vh;
}

.picture .btn-edit {
  position: relative;
  left: 30vw;
  bottom: 3.15em;
}

.picture .comment .btn-edit {
  bottom: 3em;
}

.btn-dlt {
  font-size: 1.2em;
  width: 1.8em;
  color: white;
  background-color: rgb(255, 104, 137);
  margin: 0 auto;
  padding: 0.2em 0.3em;
  border-radius: 0.4em;
  border: none;
}

.btn-dlt:hover {
  color: rgb(255, 104, 137);
  background-color: white;
}

.polaroid .btn-dlt {
  position: relative;
  bottom: 20.1vw;
  left: 9.5vw;
}

.comment .btn-dlt {
  position: relative;
  bottom: 2.2em;
  left: 30vw;
}

@media (max-width: 768px) {
  .picture .btn-edit {
    bottom: 0;
  }
  .comment .btn-dlt {
    bottom: 0;
  }
  .picture .comment .btn-edit {
    bottom: 1.5em;
  }
}


/* ANIMATIONS */
.polaroid.animate__infinite.animate__pulse {
  --animate-duration: 4s;
}

.animate__infinite.animate__swing {
  --animate-duration: 1.5s;
}

/* APP-SPECIFIC */
.landing {
  width: 100%;
  height: 75vh;
  color: rgb(30, 114, 210);
  /* background-color: aliceblue; */
  font-size: 3em;
}
